body {
  background-color: #F5EFE6;
  margin: 0;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05090c;
  padding: 1rem;
  color: white;
  height: 10vh;
  position: relative;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.sell-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 10vh); /* Height minus the header height */
  transition: margin-left 0.3s ease;
}

.search-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 200px;
  transition: width 0.3s ease;
}

input[type="text"]:focus {
  width: 250px;
}

.search-icon {
  margin-left: -30px;
  cursor: pointer;
}

/* Sidebar hidden when closed */
.sidebar {
  background-color: #F5EFE6;
  color: black;
  padding: 1rem;
  position: fixed;
  top: 10vh; /* Start below the header */
  left: -200px; /* Off-screen when closed */
  width: 200px;
  height: calc(100vh - 10vh);
  border-right: 1px solid black;
  z-index: 0;
  transition: left 0.3s ease; /* Smooth transition */
  display: none; /* Hidden by default */
}

.App.sidebar-open .sidebar {
  left: 0;
  display: block; /* Show when open */
}

.App.sidebar-open .main-container {
  margin-left: 200px; /* Shift main content when sidebar is open */
}

/* Mobile styling for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: calc(100vh - 10vh);
    left: -100%;
    z-index: 2; /* Ensure sidebar is above content on small screens */
  }

  .App.sidebar-open .sidebar {
    left: 0;
    display: block; /* Show when toggled on */
    width: 100%; /* Take up full width on small screens */
  }

  .App.sidebar-open .main-container {
    margin-left: 0; /* Don't shift main content */
  }
}

.App-footer {
  background-color: #628E90;
  color: black;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10%;
}

/* Dialog box styles */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.dialog-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.dialog-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 5px;
}

.login-container {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 1000;
}

.login-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
