body {
  background-color: #F5EFE6;
  margin: 0;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05090c;
  padding: 1rem;
  color: white;
  height: 10vh;
  position: relative;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.sell-btn {
  background-color: #B4CDE6;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 10vh); /* Height minus the header height */
  transition: margin-left 0.3s ease;
}

.main-content {
  text-align: center;
}

.search-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

input[type="text"] {
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 200px;
  transition: width 0.3s ease;
}

input[type="text"]:focus {
  width: 250px;
}

.search-icon {
  margin-left: -30px;
  cursor: pointer;
}

.sidebar {
  background-color: #F5EFE6;
  color: black;
  padding: 1rem;
  position: fixed;
  top: 10vh; /* Start below the header */
  left: -200px; /* Off-screen when closed */
  width: 200px;
  height: calc(100vh - 10vh);
  border-right: 1px solid black;
  z-index: 0;
  transition: left 0.3s ease; /* Smooth transition */
}

.App.sidebar-open .sidebar {
  left: 0; /* Move into view when open */
}

.App.sidebar-open .main-container {
  margin-left: 200px; /* Shift main content when sidebar is open */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: calc(100vh - 10vh);
    left: 0; /* Always visible on small screens */
    z-index: 2; /* Ensure sidebar is above content on small screens */
  }

  .App.sidebar-open .main-container {
    margin-left: 0;
  }
}

.App-footer {
  background-color: #628E90;
  color: black;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 10%;
}